@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Lexend:wght@100..900&display=swap');

.lexend-regular{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
    --background-color: #F7F4EA;   /* Floral White */
    --heading-color: #481620;      /* Night Bordeaux */
    --accent-color: #7A2840;       /* Dark Amaranth */
    --soft-accent: #F0DFE3;        /* Lavender Blush */
    --line-color: #837569;         /* Taupe */
    --text-color: #333333;         /* Graphite */

    --border-radius: 16px;
    --shadow: 0 8px 24px rgba(0,0,0,0.06);
}

body {
    background-color: var(--background-color);

    font-family: 'lexend-regular', sans-serif;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    margin: 0;
    color: var(--text-color);
}

h1 {
    color: var(--heading-color);
    font-size: 2rem;
    margin-bottom: 8px;
}

h2 {
    color: var(--heading-color);
    margin-bottom: 16px;
}

p {
    margin: 6px 0 16px;
    font-size: 0.95rem;
}